body {
  text-align: center;
  background-color: #99baee;
  color: #fff;
}

h1 {
  margin: 50px auto;
}

input {
  color: #888;
}

button {
  color: #888;
}

#currentConditions {
  font-size: 40px;
  margin-top: 50px;
  display: inline-block;
}

#currentWind {
  float: left;
  margin-right: auto;
  margin-left: auto;
}

#currentTemp {
  float: center;
  margin-right: auto;
  margin-left: auto;
}

img {
  width: 120px;
  float: none;
}

#currentTime {
  float: right;
  margin-right: auto;
  margin-left: auto;
}